
body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, #049e84, #2c3331);
    color: rgb(240, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {

}
a {
    color: rgb(26, 243, 171);
}
button {
    background-color: #04332b;
    padding: 0.5rem;
    border-radius: 8px;
    border-color: #07a777;
    color: rgb(224, 241, 239);
    font-weight: bold;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upperPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}
.lowerPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    margin-top: 1rem;
    box-sizing: 0;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}