/* button {
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 0;
} */
/* .on {
    background-color: silver;
    position: absolute;
    left: 5%;
    top: 5%;
}
.off {
    
} */

#menu-dashboard-location {
    font-style: italic;
    color: rgb(114, 128, 128);
}